name: DepotDownloaderMod EXE Downloader

on:
  workflow_dispatch:
    inputs:
      pubfileids:
        description: "Comma-separated Workshop pubfile IDs"
        required: true

      app_id:
        description: "Steam App ID (default = 431960)"
        required: false
        default: "431960"

jobs:
  prepare:
    runs-on: windows-latest
    outputs:
      ids: ${{ steps.split.outputs.ids }}

    steps:
      - id: split
        run: |
          $input = "${{ github.event.inputs.pubfileids }}"
          $arr = $input.Split(",") | ForEach-Object { "`"$_`"" }
          $json = "[" + ($arr -join ",") + "]"
          echo "ids=$json" >> $env:GITHUB_OUTPUT

      - name: Install .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Download DepotDownloaderMod Release
        run: |
          curl -L -o release.rar https://github.com/SteamAutoCracks/DepotDownloaderMod/releases/latest/download/Release.rar

      - name: Extract RAR
        run: |
          7z x release.rar -orelease

      - name: Upload prepared EXE
        uses: actions/upload-artifact@v4
        with:
          name: depot_downloader_extracted
          path: release
  

  download:
    needs: prepare
    runs-on: windows-latest
    strategy:
      matrix:
        pubfileid: ${{ fromJson(needs.prepare.outputs.ids) }}

    steps:
      - name: Download Prepared EXE
        uses: actions/download-artifact@v4
        with:
          name: depot_downloader_extracted
          path: release

      - name: Install .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Run DepotDownloaderMod.exe
        run: |
          release/Release/net9.0/DepotDownloaderMod.exe ^
            -app ${{ github.event.inputs.app_id }} ^
            -pubfile ${{ matrix.pubfileid }} ^
            -verify-all ^
            -username "ruiiixx" ^
            -password "S67GBTB83D3Y"

      - name: Upload ONLY depots folder
        uses: actions/upload-artifact@v4
        with:
          name: depot_${{ matrix.pubfileid }}
          path: depots
