name: DepotDownloaderMod EXE Downloader

on:
  workflow_dispatch:
    inputs:
      pubfileid:
        description: "Workshop pubfile ID"
        required: true

      app_id:
        description: "Steam App ID"
        required: false
        default: "431960"

jobs:
  download:
    runs-on: windows-latest

    steps:
      - name: Install .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Download DepotDownloaderMod Release
        run: |
          curl -L -o release.rar https://github.com/SteamAutoCracks/DepotDownloaderMod/releases/latest/download/Release.rar

      - name: Extract RAR
        run: |
          7z x release.rar -orelease

      - name: Run DepotDownloaderMod.exe
        run: |
          release/Release/net9.0/DepotDownloaderMod.exe ^
            -app ${{ github.event.inputs.app_id }} ^
            -pubfile ${{ github.event.inputs.pubfileid }} ^
            -verify-all ^
            -username "ruiiixx" ^
            -password "S67GBTB83D3Y"

      - name: Upload downloaded content
        uses: actions/upload-artifact@v4
        with:
          name: depotdownload
          path: .
