name: Auto Workshop Downloader (No Commit Needed)

on:
  workflow_dispatch:
    inputs:
      workshop_id:
        description: "Workshop ID"
        required: true
      app_id:
        description: "App ID (example: 431960)"
        required: true

jobs:
  download:
    runs-on: windows-latest

    steps:
      - name: Install .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Download DepotDownloaderMod Release
        run: |
          curl -L -o release.rar https://github.com/SteamAutoCracks/DepotDownloaderMod/releases/latest/download/Release.rar

      - name: Extract RAR
        run: |
          7z x release.rar -orelease

      - name: Run DepotDownloaderMod
        run: >
          dotnet "release/Release/net9.0/DepotDownloaderMod.dll"
          --app ${{ github.event.inputs.app_id }}
          --workshopitem ${{ github.event.inputs.workshop_id }}
          --dir output

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: workshop-download
          path: output
