name: DepotDownloaderMod EXE Downloader

on:
  workflow_dispatch:
    inputs:
      pubfileids:
        description: "Comma-separated Workshop pubfile IDs"
        required: true

      parallel_count:
        description: "How many downloads run at once (default = 3)"
        required: false
        default: "3"

      app_id:
        description: "Steam App ID"
        required: false
        default: "431960"

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      batches: ${{ steps.makebatches.outputs.batches }}

    steps:
      - id: makebatches
        run: |
          ids=($(echo "${{ github.event.inputs.pubfileids }}" | tr ',' ' '))
          batchsize=${{ github.event.inputs.parallel_count }}

          json="["
          batch=""
          count=0

          for id in "${ids[@]}"; do
            if [ $count -ge $batchsize ]; then
              json="$json[$batch],"
              batch=""
              count=0
            fi

            if [ "$batch" = "" ]; then
              batch="\"$id\""
            else
              batch="$batch, \"$id\""
            fi

            count=$((count+1))
          done

          json="$json[$batch]]"
          echo "batches=$json" >> $GITHUB_OUTPUT


  download:
    needs: prepare
    runs-on: windows-latest
    strategy:
      matrix:
        batch: ${{ fromJson(needs.prepare.outputs.batches) }}

    steps:
      - name: Install .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Download DepotDownloaderMod Release
        run: |
          curl -L -o release.rar https://github.com/SteamAutoCracks/DepotDownloaderMod/releases/latest/download/Release.rar

      - name: Extract RAR
        run: |
          7z x release.rar -orelease

      - name: Run Parallel Downloads (PowerShell)
        shell: pwsh
        run: |
          $ids = @(${{
            matrix.batch
          }})

          $jobs = @()

          foreach ($id in $ids) {
            Write-Host "Starting parallel download for $id"

            $jobs += Start-Job -ScriptBlock {
              param($id)

              & release/Release/net9.0/DepotDownloaderMod.exe `
                -app "${{ github.event.inputs.app_id }}" `
                -pubfile $id `
                -verify-all `
                -username "ruiiixx" `
                -password "S67GBTB83D3Y"
            } -ArgumentList $id
          }

          Write-Host "Waiting for all parallel tasks..."
          $jobs | Wait-Job | Receive-Job

      - name: Upload depots folder
        uses: actions/upload-artifact@v4
        with:
          name: depots_batch
          path: depots
